{% extends 'layout.html' %}
{% block title %}
  Devices
{% endblock %}

{% block devices %}
<div class="container">
  <div class="row">
    <div class="col"><img src="{{ url_for('static', filename='img/device.png}}">
    	<p><span class="blink">Connected</span></p>
    </div>
    <div class="col"><img src="{{ url_for('static', filename='img/device.png }}">
    	<p><span class="blink">Connected</span></p>
    </div>
    <div class="col"><img src="{{ url_for('static', filename='img/device.png }}">
    	<p><span class="blink">Connected</span></p>   <!-- src="{{ url_for('static', filename='img/led.png')}}" -->
    </div>
    <div class="col"><img src="{{ url_for('static', filename='img/device.png }}">
    	<p><span class="blink">Connected</span></p>
    </div>
  </div>
  <div class="row">
    <div class="col"><img src="{{ url_for('static', filename='img/device.png }}">
    	<p><span class="blink">Connected</span></p>
    </div>
    <div class="col"><img src="{{ url_for('static', filename='img/device.png }}">
    	<p><span class="blink">Connected</span></p>
    </div>
    <div class="col"><img src="{{ url_for('static', filename='img/device.png }}">
    	<p><span class="blink">Connected</span></p>
    </div>
    <div class="card" style="width: 15rem; height: 22rem">
  <img src="{{ url_for('static', filename='img/device.png }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Device Id:: .....</h5>
    <p class="card-text">IP:: ......</p>
    <a href="#" class="btn btn-primary"><p><span class="blink">Connected</span></p></a>
  </div>
</div>
  </div>
</div>
{% endblock %}



<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>