<!doctype html>
<html>
  <head>
    {% block head %}

<script type="text/javascript" src="{{ url_for('static', filename='bootstrap-4.4.1/js/jquery-3.4.1.slim.min.js') }}" ></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap-4.4.1/js/popper.min.js') }}" ></script>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.4.1/css/bootstrap.min.css') }}">

<script type="text/javascript" src="{{ url_for('static', filename='bootstrap-4.4.1/js/bootstrap.min.js') }}"></script>



    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
      {% endblock %}
    </div>
  </body>
</html>